
{% block page_content %}
    {% if messages %}
        <div class="row" style="width: 40%; margin-top:10px; margin-left: 30%; text-align: center;">
            <div class="col-sm-20">
                <div class="thumbnail" style="border-radius: 15px; border: 3px solid rgb(43,145,203); box-shadow: 6px 6px 7px rgb(112,109,213); background-color: rgb(207,224,252)">
                    <div class="caption" style="padding: 10px;">
                        <div class="messages" style="">
                            {% for message in messages %}
                                <span {% if message.tags %} class="{{ message.tags }}" {% endif %} style="font-family: 'JetBrains Mono Medium'; color: #4e87ff; font-size: 20px;">
                                    {% if 'html_safe' in message.tags %}{{ message|safe }}
                                    {% else %}{{ message }}{% endif %}
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock page_content %}
